* {
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
#navbarContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 44px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  background-color: rgba(251, 251, 253, 0.8);
  position: fixed;
  backdrop-filter: blur(10px);
}
#navbar {
  width: 996px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMenuText {
  padding: 0px 8px;
  letter-spacing: -0.01em;
}

.icon {
  padding-top: 4px;
  width: 30px;
  text-align: center;
}

#bannerContainer {
  width: 100vw;
  height: 45px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

#bannerShopText {
  color: rgb(0, 102, 204);
}

/* main */

#sectionFirstContainer {
  width: 100vw;
  height: 580px;
}

#sectionContainerVideo {
  width: 100vw;
  height: 750px;

  display: flex;

  justify-content: center;
}
#videoContainer {
  display: flex;
  height: 80vh;
  width: 100vw;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* video logo text */

#videoTextContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: space-between;
  justify-content: center;
  margin-top: 93px;
}
#videoLogoText {
  position: absolute;

  width: 474px;
  height: 137px;
  display: flex;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: rgb(245, 245, 247);
}

#videoLogoContainer {
  display: block;
  width: 474px;
  height: 55px;
  text-align: center;
}
#videoTitleLogoConstainer {
  odject-fit: f_auto;
  background-image: url(https://www.apple.com/v/home/bc/images/logos/mls-messi/hero_logo_apple_tv_season_pass__igiz49b7ebee_large_2x.png);
  display: block;
}

#videoTitleLogoConstainerText {
  overflow-x: hidden;
  overflow-y: hidden;
}

#videoTitleText {
  width: 474px;
  height: 137px;
  font-size: 19.89px;
}

#videoTextNews {
}
#videoText {
}
